[2016-01-15 10:21] earthquakesan opened #1 "RDDModel: Implement mapLiterals"
apply user defined functions to all literals

[2016-02-24 18:09] #1 closed, assigned to GezimSejdiu

[2018-06-05 14:09] GezimSejdiu commented on #1
Hi @t3476 ,
many thanks for the suggestion. Yes, indeed we have considered [Apache Beam](https://beam.apache.org/) after it came out on the end of 2016th.

Since we are providing the same functionality (or at least we try to keep them aligned as much as we can) on both engines ([Apache Spark](http://spark.apache.org/) and [Apache Flink](http://flink.apache.org/)) we were also thinking of having an

[2018-06-12 14:41] t3476 commented on #1
Hi @GezimSejdiu,
Have you checked [scio](https://github.com/spotify/scio), scala api of Apache Beam. Its features is very rich and the [example](http://spotify.github.io/scio/examples/) looks exactly like Apache Spark's one. I hope this would increase the possibility.

[2018-06-15 08:19] JensLehmann commented on #1
We might consider this for the SANSA 0.5 release (December 2018). It's under discussion until then.

[2018-08-16 12:27] patrickwestphal opened #2 "Continuous Integration setup for SANSA. Badges, code quality, bells and whistles."
- [x] Check if https://about.sonarcloud.io/ can do test coverage for us
- [ ] Get credentials for the bettercodehub account from ...
- [ ] Compare sonarcloud to https://bettercodehub.com/

[2018-12-07 08:42] JensLehmann commented on #1
We finally decided not to support this in the 0.5 release of SANSA.

[2019-01-11 10:47] Aklakan commented on #1
Because Linux tooling is often much faster than dedicated Big Data frameworks for most conventional workloads (several GB of data), it may be intriguing whether performance of some data processing workflows could be maximized if they were written in Beam and run with a "SystemEnvironmentRunner`, which uses Linux tooling and pipes.

So running a workflow (pseudocode) such as
[code]

should give:
[c

[2019-04-18 10:03] t3476 commented on #1
@Aklakan Apache Beam includes Direct Runner, pipelines on your machine.

[2019-06-28 07:40] #2 closed

[2019-08-22 20:49] kurzum opened #4 "Dependencies for parser, modularity"
Hi all,
we are using the sansa stack parser in some projects, such as:
https://github.com/dbpedia/databus-derive
and
https://github.com/dbpedia/databus-client

The first is a maven plugin extending the databus maven plugin and the second is for parsing and converting RDF in a Docker environment. For both it is quite disadvantageous that there are so many dependencies, see attachement of databus-de

[2019-09-20 14:06] gregid opened #5 "Mailing list doesn't exist"
I tried accessing link from the website to the mailling list:
https://groups.google.com/forum/#!forum/sansa-stack

But according to google groups the list doesn't exist.

Where can I ask questions regarding SANSA-Stack?

[2019-09-24 08:01] GezimSejdiu commented on #5
Hi @gregid ,

many thanks for posting here. The list does exist but I guess, you may need to send a subscription request first in order to be able to post there.
We mention it somewhere on the [SANSA website](http://sansa-stack.net/):

Please, do let me know if you are still facing the issue of seeing the mailing list.

Best regards,

[2019-09-26 08:24] GezimSejdiu commented on #5
Great!

Um, what do you mean by hidden/invisible? That the user has to subscribe first in order to post there, or a widget integration on the site?

If the former, google groups policies are designed in that way that everyone should be subscribed to the group in order to be able to post there. I think that is by default.

If everything is working fine, please feel free to close the issue :)

Best

[2019-09-26 08:31] gregid commented on #5
I mean when you search for groups in googlegroups doesn't recognize its existence. Some groups you can read posts/search on the google groups site but need to subscribe to post - it helps with increasing visibility of the project. At the moment the archive is not public.

I am fine if it is by design, just wanted to make sure it's not by accident.

[2019-09-26 08:42] GezimSejdiu commented on #5
Right, good point. We will discuss this and see if there is a possibility to make the archive publicly available. Indeed, it increases the visibility of the project.

Many thanks for the suggestion.

[2019-09-26 09:43] JensLehmann commented on #5
I made it publicly visible.

I suspect this has to do with changes at Google. At least I see a message "Group settings have been updated. If you are experiencing issues, check the FAQ for help." when managing the group and the FAQ at https://support.google.com/a/answer/9325317 item "People can’t access my group, even with a link" is exactly the issue here.

I'm closing the issue - please re-open i

[2019-09-26 09:43] #5 closed

[2019-10-04 07:44] Aklakan commented on #1
So I have rolled a module which I guess is conceptually related to Apache Bean when it comes to dataset processing:

https://github.com/SmartDataAnalytics/jena-sparql-api/tree/develop/jena-sparql-api-conjure

Workflows are assembled in RDF using static factory classes - just like in Beam.
Furthermore, It seems that my terminology can be mapped to it: Executor = Runner, Workflow = Pipeline

My impl

[2019-10-04 07:44] Aklakan commented on #1
Cool, need to check that out

[2020-03-25 13:40] MBoegers opened #6 "Website not Responding"
Hi,
the project's website (sansa-stack.net) has an internal server error since a few days.
I would like to use SANSA in my theses but without a responding webpage, it is hard ;-)

Firefox loading terminates with an empty page and wget returns 500
[code]

Best Merlin

[2020-04-03 07:47] patrickwestphal commented on #6
Hi Merlin,

sorry for the late reply and many thanks for reporting. The website should be up again.

Best regards,
Patrick

[2020-04-03 07:47] #6 closed

[2020-05-29 13:45] dileepvikram opened #7 "Sansa query (Spark)program fails when integrated with Spark Job Server"
Hello Team,
                   I am trying to run one basic sansa query example and I am able to do it. But when I tried to integrate the same with spark job server  it is getting failed  with the exception  as below

**org.apache.spark.SparkException: Job 2 cancelled because SparkContext was shut down
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$cleanUpAfterSchedulerStop$1.apply(DAGSchedu

[2020-06-12 08:31] JensLehmann commented on #4
We reduced dependencies slightly and will likely cut others (like Sparkilfy) at the end of the year. With those measures, we consider the issue resolved - please open new ones in case of superfluous dependencies.

[2020-06-12 08:31] #4 closed

[2020-07-10 08:51] JensLehmann commented on #7
Can you paste the full exception (if it's incomplete)?

[2020-11-11 12:45] darrengarvey opened #112 "Custom inference rules"
The website states that supporting user-defined rules is a future feature.

But looking at the [rules](https://github.com/SANSA-Stack/SANSA-Stack/blob/develop/sansa-inference/sansa-inference-common/src/main/scala/net/sansa_stack/inference/rules/RuleSets.scala), it seems like custom rulesets would be easy to add by just customising those rule files using the Jena rules format.

I'm wondering if the

[2020-11-16 20:46] WortNils opened #114 "Problems with read in using SANSA-Stack on Windows"
I have set up SANSA-Stack on a Windows 10 PC and when I try to run the MinimalCalls from the ml-spark/similarity/examples directory, I get this output:

_Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
20/11/16 21:37:15 ERROR Executor: Exception in task 0.0 in stage 0.0 (TID 0)
java.lang.Exception: WARN: Illegal N-Triples syntax. Ignoring triple <http://commons.dbpe

[2020-12-03 07:05] LorenzBuehmann commented on #114
Thank's for the report.

I guess you're trying the latest `develop` branch? On both machines the same version?
I don't have a Windows 10 machine at hand, but I'll try to get one and see if I can reproduce the error.

[2020-12-03 13:29] WortNils commented on #114
Yes I am trying the latest develop branch and I get the same error on both machines every time.

[2020-12-07 10:50] LorenzBuehmann commented on #114
Ok, but you changed the example data path, right? I can only think of that there is some kind of Windows encoding issue and the regex does fail. It looks like you did use the `rdf.nt` file from sansa-ml-spark?
Did you open it with an Windows editor and change something?
Can you share the file here please?

[2020-12-15 12:42] carstendraschner opened #122 "ONTOP multi line optional Block Error"
When I try to run a sparql query with multi line optional blocks I get error:
[code]

I also tried this example without optional block like:
[code]
and this worked but for sure it would be desireable to have also optional blocks.
with sparqlify the multiline optional blocks run trough. the only opportunity there is that currently I am missing a easy way to get only columns specified in select. so

[2020-12-15 14:39] WortNils commented on #114
I always made sure to have the correct path and neither .nt-file works. I did not change anything with the files and I even tried recreating them and that didn't work either. I will attach the file regardless.
[rdf.zip](https://github.com/SANSA-Stack/SANSA-Stack/files/5696536/rdf.zip)

[2020-12-17 01:29] pj001 opened #123 "I don't know how to use it"
I wanted to use the framework to reason my triples, but I couldn't find the relevant reference case documentation. Can I only read the code on GitHub?

[2020-12-18 01:50] pj001 opened #124 "org.apache.spark.sql.catalyst.analysis.UnresolvedException: Invalid call to exprId on unresolved object, tree: 'rel0.p"
org.apache.spark.sql.catalyst.analysis.UnresolvedException: Invalid call to exprId on unresolved object, tree: 'rel0.p

[2020-12-18 01:58] pj001 commented on #124
'Project ['rel0.s, 'rel1.o, 'rel0.o]
+- 'Filter ('rel1.p = http://www.w3.org/2000/01/rdf-schema#subPropertyOf)
   +- 'Join Inner, ('rel0.p = 'rel1.s)
      :- 'SubqueryAlias rel1
      :  +- 'UnresolvedRelation [TRIPLES]
      +- 'SubqueryAlias rel0
         +- 'UnresolvedRelation [TRIPLES]

[2020-12-20 01:35] pj001 opened #125 "How do I execute the sample program?"
How do I execute the sample program?

[2020-12-20 02:13] pj001 commented on #122
Hello, how do you learn the example

[2020-12-22 10:58] LorenzBuehmann commented on #122
Should be fixed with commit 5a63496b88d5eb9dd5eb57f68a8a53126f031d5b

@carstendraschner can you verify this please?

[2020-12-22 11:03] LorenzBuehmann commented on #123
do you mean
i) using Scala code and continue with the result in your code or
ii) just take a Jar file and deploy it on the Spark cluster, then compute the inferences and write back to disk?

[2020-12-22 11:08] LorenzBuehmann commented on #124
would be helpful if you provide code, data and SPARQL query

A minimal example makes support way easier - so far, all I can deduce is that you most likely run a SPARQL query like
[code]
but not with which SANSA version, nor do I know how you run the query and which data.

Thank you

[2020-12-22 11:08] LorenzBuehmann commented on #125
... which one do you mean?

[2020-12-22 15:42] Aklakan commented on #114
I could not reproduce this issue on a Windows 10 machine with Java 11 from the powershell `java -cp sansa-examples-spark_2.12-0.7.2-SNAPSHOT-jar-with-dependencies.jar "net.sansa_stack.ml.spark.similarity.examples.MinimalCalls"` (i disabled all exclusions for that bundle) so maybe it is java 8 specific?

I had troubles getting the sansa build to work because under java 8 it seems that the scala-mav

[2020-12-22 15:49] Aklakan commented on #114
Also, the exception message in NTriplesRelation.scala does not match the behavior so either has to be changed for consistency. IMO Illegal triples should by default cause an exception. You wouldn't wont analytics to silently complete successfully and give wrong results if there are syntax errors in the source data.

[code]

[2020-12-23 00:49] pj001 commented on #124
I tried to run spark inference, but I didn't know what file was read in the example.... So I haven't figured out how the program works. I hope to provide a clear use case

[2020-12-23 00:50] pj001 commented on #125
spark-Inference

[2020-12-23 08:33] LorenzBuehmann commented on #114
@Aklakan  there is a difference - you did just run the  `MinimalCalls` which does use `movie.nt`, but according to the error trace of the TO the file `rdf.nt` has been used.

[2020-12-23 08:35] LorenzBuehmann commented on #124
can you be more specific please.

What actions exactly did you do? We have to see code and/or how you run whatever you did.
And with which SANSA Stack version?

[2020-12-23 08:44] pj001 commented on #124
I don't know how this is reasoned and how the file is read.&nbsp;I read the source code, it seems that there is no Tu// load triples from disk
val graph = RDFGraphLoader.loadFromDisk(spark, input, parallelism)
println(s"|G| = ${graph.size()}")

// create reasoner
val reasoner = profile match {
  case TRANSITIVE =&gt; new TransitiveReasoner(spark.sparkContext, properties, parallelism)
  case RDFS =

[2020-12-23 09:08] LorenzBuehmann commented on #124
does [this](https://github.com/SANSA-Stack/SANSA-Stack/blob/develop/sansa-inference/README.md#from-code) answer your question?

It works with latest version from `develop` version. How to build and use the stack is also documented [here](https://github.com/SANSA-Stack/SANSA-Stack#usage)

[2020-12-23 09:10] pj001 commented on #124
Are you sure you can perform reasoning? I don't even know how to write the inference rule file

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Lorenz Bühmann"<notifications@github.com&gt;;
发送时间: 2020年12月23日(星期三) 下午5:08
收件人: "SANSA-Stack/SANSA-Stack"<SANSA-Stack@noreply.github.com&gt;;
抄送: "彭瘦瘦"<2550420029@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [SANSA-Stack/SANSA-St

[2020-12-23 09:11] pj001 commented on #124
How can rules files be put into executive reasoning? I didn't find the relevant cases

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Lorenz Bühmann"<notifications@github.com&gt;;
发送时间: 2020年12月23日(星期三) 下午5:08
收件人: "SANSA-Stack/SANSA-Stack"<SANSA-Stack@noreply.github.com&gt;;
抄送: "彭瘦瘦"<2550420029@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [SANSA-Stack/SANSA-Stack] org.

[2020-12-23 09:20] LorenzBuehmann commented on #124
I cannot follow you - there are predefined rules sets with RDFS and OWL-Horst: as documented here: https://github.com/SANSA-Stack/SANSA-Stack/blob/develop/sansa-inference/README.md#from-code

The supported reasoning profiles are documented here: https://github.com/SANSA-Stack/SANSA-Stack/tree/develop/sansa-inference#supported-reasoning-profiles

Use the `ForwardRuleReasonerRDFS` and it will comput

[2020-12-23 09:24] pj001 commented on #124
Hello, maybe you don't understand what I mean. I mean I want to use Jena to implement rule-based reasoning. But I don't know where to define the rules file rules in the code. I don't know how to execute the inference program.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Lorenz Bühmann"<notifications@github.com&gt;;
发送时间: 2020年12月23日(星期三) 下午5:20
收件人: "SANSA-Stack/SANSA-Stack"<SANSA-S

[2020-12-23 09:28] LorenzBuehmann commented on #124
This is not Jena and the rules support in SANSA Stack is not a general purpose rule-engine. We had some experimental implementation but didn't have worked on it in the meantime.

If you simply want to use Jena, use their [`GenericRuleReasoner`](https://jena.apache.org/documentation/javadoc/jena/org/apache/jena/reasoner/rulesys/GenericRuleReasoner.html) - but it's far from being trivial to apply th

[2020-12-23 09:31] pj001 commented on #124
Can't I implement rule-based reasoning with spark? Then I don't quite understand what your reasoning means?

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Lorenz Bühmann"<notifications@github.com&gt;;
发送时间: 2020年12月23日(星期三) 下午5:28
收件人: "SANSA-Stack/SANSA-Stack"<SANSA-Stack@noreply.github.com&gt;;
抄送: "彭瘦瘦"<2550420029@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [SANSA-S

[2020-12-23 09:36] LorenzBuehmann commented on #124
ok ... then read about RDFS, OWL Horst, OWL EL reasoning - or what do you think this is? I mean, RDFS reasoning just provides a fixed set of entailment rules of the RDFS semantics - computing those inferred triples is reasoning.
Here are the RDFS rules: https://www.w3.org/TR/rdf11-mt/#patterns-of-rdfs-entailment-informative

So why is this **not** reasoning? How do you call this?

[2020-12-23 09:39] LorenzBuehmann commented on #124
I'm sure you can do it. Just write the implementation for it using Spark Core API and Scala. All I was saying is that in SANSA Stack there is no such generic rule engine - sorry.

[2020-12-23 09:39] pj001 commented on #124
Can I realize that a is B's father, B is C's father and infer that a is C's grandfather?

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Lorenz Bühmann"<notifications@github.com&gt;;
发送时间: 2020年12月23日(星期三) 下午5:37
收件人: "SANSA-Stack/SANSA-Stack"<SANSA-Stack@noreply.github.com&gt;;
抄送: "彭瘦瘦"<2550420029@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [SANSA-Stack/SANSA-Stack] o

[2020-12-23 09:42] LorenzBuehmann commented on #124
Not with SANSA Stack. As I said before, we do not have a generic rule engine - I'm sorry, but nobody is working on it.

On the other hand, feel free to contribute - we're always happy to get new features and support from other people.
Just write the Scala or Java code and make use of the Spark Core or SQL API - then open a PR at Github and somebody will review the code

[2020-12-23 09:50] pj001 commented on #124
Where is the application scenario of this framework? I'm confused.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Lorenz Bühmann"<notifications@github.com&gt;;
发送时间: 2020年12月23日(星期三) 下午5:42
收件人: "SANSA-Stack/SANSA-Stack"<SANSA-Stack@noreply.github.com&gt;;
抄送: "彭瘦瘦"<2550420029@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [SANSA-Stack/SANSA-Stack] org.apache.spark.sql.ca

[2020-12-23 10:29] LorenzBuehmann commented on #124
of this "framework"? Batch processing of RDF data in Spark?

Having an RDFS or OWL ontology as schema is the starting point for our reasoning. Some schema triples/axioms - that's all.
Then make implicit triples explicit.

Anyways ... if you mean any RDFS or OWL reasoner is useless ... fair enough. You now, sometimes people want to work on the inferred facts, like having the domain `C` of a propert

[2020-12-30 16:30] LorenzBuehmann commented on #124
Answer provided.

[2020-12-30 16:30] #124 closed, assigned to nobody

[2020-12-30 16:31] LorenzBuehmann commented on #125
Answer provided in #124

[2020-12-30 16:31] #125 closed, assigned to nobody

[2020-12-30 16:31] LorenzBuehmann commented on #123
Answer provided in #124

[2020-12-30 16:31] #123 closed, assigned to nobody

[2021-01-08 12:42] carstendraschner commented on #122
Thank you very much for your help! I the first samples I tried, It seems, that the issue is resolved :)

[2021-01-08 12:42] #122 closed, assigned to LorenzBuehmann

[2021-01-11 17:20] GiorgosMandi opened #127 "sansa-query-spark depends on sparkbench"
Hello,

I am using SANSA-Stack to load an NTRIPLES file, which I want to query.  So, my code looks like this

[code]
But I'm having issues installing the sbt dependency **"net.sansa-stack" %% "sansa-query-spark" % "0.7.1"**
In more details, my **build.sbt** looks like this:
[code]

and I get the following error:

    [warn]  Note: Unresolved dependencies path:
    [error] sbt.librarymanagement.Res

[2021-01-18 11:56] GiorgosMandi commented on #127
I excluded it and it worked

[2021-01-18 11:56] #127 closed, assigned to nobody

[2021-01-22 14:17] Aklakan opened #129 "SchemaMapping generation: Handle case of null-only result variable"
With a SPARQL OPTIONAL block it is possible to create a 'result set column' which is unbound in every binding.
In this case, ResultSetAnalytics.usedDatatypes returns an empty set of datatypes - so the schema mapper will ignore this column.
The schema mapper should be extended to generate columns of a default type if no datatype was found.

[2021-01-22 17:08] carstendraschner commented on #129
also remove these print lines

http://dig.isi.edu/age_XMLSchema#integer
http://dig.isi.edu/name_XMLSchema#string_lang
http://dig.isi.edu/hasParent
http://dig.isi.edu/hasSpouse
http://www.w3.org/1999/02/22-rdf-syntax-ns#type
StructType(StructField(seed,StringType,false), StructField(seed__down_age,DecimalType(38,0),false), StructField(seed__down_name,StringType,false), StructField(seed__up_hasParen

[2021-01-22 17:50] Aklakan opened #130 "Add support for enriching R2RML TermMaps with prefixes, ranges and nullable information."
These extension have already been added to [r2rml model extensions](https://github.com/SmartDataAnalytics/r2rml-api-jena/blob/develop/r2rmlx-jena-api/src/main/java/org/aksw/r2rmlx/domain/api/Constraint.java) of our r2rml api and with
ResultSetAnalytics there is already the base implementation for computing the metadata, but we still need some glue to bind it together.

As an enrichment the derived

[2021-02-12 11:53] Aklakan opened #133 "SchemaMapping: Add option to fallback to string column types for unknown/yet unsupported RDF datatypes"
Having a non-ideal fallback is usually preferred to exception, for example:
[code]

[2021-02-16 07:58] asmotrich opened #134 "java.lang.NoClassDefFoundError: Could not initialize class net.sansa_stack.rdf.spark.model.rdd.RddOfTriplesOps$"
I am running a relatively simple code that reads RDF Triples from the NT file, creates the RDD[Triple] and then transforms that RDD into a DataFrame. This works perfectly when running in local mode using Spark 3.0.1 / Scala 2.12.10 / Java 11 and 1.8. However when I try to run this code in Spark standalone mode on the same machine I get the following error:
`java.lang.NoClassDefFoundError: Could no

[2021-02-16 10:48] WortNils commented on #114
We found a workaround:
instead of reading in as a Dataframe we read in as rdd and then transform it into a Dataframe.

before:
val triplesDf: DataFrame = spark.read.rdf(Lang.NTRIPLES)(inputPath).cache()

after:
val triplesDf: DataFrame = spark.rdf(Lang.NTRIPLES)(inputPath).toDF().cache()

[2021-02-16 11:26] carstendraschner opened #135 "Handling Bad Triples"
I want to play around with lmdb data for the development of fitting ml pipelines
data can be found here:

http://www.cs.toronto.edu/~oktie/linkedmdb/linkedmdb-18-05-2009-dump.nt

the current implementation of the pipeline can be found here:

https://github.com/SANSA-Stack/SANSA-Stack/blob/use_case/eauc_sansa_api/sansa-examples/sansa-examples-spark/src/main/scala/net/sansa_stack/examples/spark/ml/L

[2021-02-16 13:33] Aklakan commented on #135
I changed node serialization to use thrift by default now; this protocol should not care about invalid rdf terms and write/read them as given. Tests are currently running...

[2021-02-16 14:21] Aklakan commented on #134
Hm, sometimes we encountered circular init issues with Jena (e.g. using a prefix mapping object triggers jena initializiation which loads a plugin which accesses the prefix mapping which then goes boom).

If you add the statement JenaSystem.init() as a static initializer in your main class or as the first thing in your main method does the problem go away?

[2021-02-16 15:04] Aklakan commented on #135
Tests are now succeeding;
@carstendraschner i merged the code into develop; you can rebuild and try whether this solves your issues

[2021-02-16 16:21] Aklakan commented on #135
Based on recent feedback in the skype channel it seems the serialization is now working as @carstendraschner 's use case now hits #129 again (which implies that query execution and result set analysis as preprocessing for schema mapping have completed successfully)

[2021-02-16 20:09] asmotrich commented on #134
That did not change the behavior at all. Removal of DataFrame IO (to/from Parquet files) did not help either. It looks the issue is purely with this class initialization on every node of the cluster needed for shuffles.

I am writing some tests within sansa-rdf-spark module that use Spark in standalone mode, I'll report here.

[2021-02-16 21:33] asmotrich commented on #134
The culprit is the net.sansa_stack.rdf.spark.model.rdd.RddOfTriplesOps implementation itself. In most of the cases code obtains the Spark session instance by calling the SparkSession.builder().getOrCreate() and assigning to a local variable inside a function. But in several cases a class variable is used and shared among those calls. The initialization of a class variable is not possible at the ti

[2021-02-17 03:04] asmotrich commented on #134
The PR submitted but CI pipeline fails due to unrelated Fink compilation issues.

[2021-02-17 11:15] Aklakan commented on #134
Hi thanks for the PR; I have merged it and made a [revision](https://github.com/SANSA-Stack/SANSA-Stack/blob/a36f0b40491bfaece38e7ef90e572dd8b7a360d6/sansa-rdf/sansa-rdf-spark/src/main/scala/net/sansa_stack/rdf/spark/model/rdd/RddOfTriplesOps.scala#L23)  to get the spark session from the rdd itself - it seems to be more future proof that way in case at some point there would be multiple sessions.

[2021-02-17 12:01] Aklakan commented on #135
@carstendraschner is this issue solved with the new node serialization?

[2021-02-17 18:37] asmotrich commented on #134
Very nice indeed!

My company is building an engine that is reasoning over the database structure/metadata and tries to guess semantics of the data set. Hopefully we will talk soon about algorithms, something more interesting than Spark sessions:-) I am a big fan of SANSA-stack.

Regards,
-Azary

[2021-02-18 21:41] Aklakan commented on #134
Thanks for the warm feedback and looking forward to discussing algorithms :)

[2021-02-18 21:41] #134 closed, assigned to nobody

[2021-02-19 00:49] Aklakan commented on #135
Closing this because internal serialization no longer cares about validity. There is a related issue that Ontop does not allow inconsistent ontologies but this is nothing we can adress atm.

[2021-02-19 00:49] #135 closed, assigned to Aklakan, LorenzBuehmann

[2021-02-20 16:47] Aklakan commented on #133
Fallback to string is now implemented; waiting for feedback whether it works as expected for @carstendraschner 's use case.

[2021-02-20 16:47] Aklakan commented on #129
Null support is now is implemented, waiting for feedback for whether it works as expected for @carstendraschner 's use case

[2021-02-25 05:41] Aklakan commented on #129
Closing as this feature seems to be working now.

[2021-02-25 05:41] #129 closed, assigned to Aklakan

[2021-02-25 05:41] Aklakan commented on #133
Closing as this feature seems to be working now.

[2021-02-25 05:41] #133 closed, assigned to Aklakan

[2021-02-25 18:04] Aklakan opened #144 "Corner case with RecordReaderGenericBase with incomplete records"
Currently RecordReaderGenericBase searches for the *second* record after the split boundary as it assumes that the first one may belong to a record that started before the boundary. However, in the case of nquads this could lead to this corner case:

* A quad is separated by the split boundary such that a valid triple remains after the split boundary. This record parses incorrectly as a triple `<p

[2021-02-25 20:27] Aklakan commented on #144
Possible fix provided and existing test cases work - but whether the corner case is now properly handled needs verification with a dedicated test case.

[2021-02-26 12:10] Aklakan commented on #144
Things are more complex ... as usual. Updated problem description.

[2021-02-26 16:51] Aklakan opened #146 "Bug in saveAsFile: start/finish not called on WriterStreamRDF and blank node mapping not suitable for partitioned processing"
The affected code is [this](https://github.com/SANSA-Stack/SANSA-Stack/blob/3f6880f24f32eb9d1c461a6702f6913ffa512a53/sansa-rdf/sansa-rdf-spark/src/main/scala/net/sansa_stack/rdf/spark/io/package.scala#L391)

[2021-02-26 17:30] Aklakan commented on #146
Fix provided; a question is whether to use StreamRDF in mapPartitions at all or whether non-streaming output (using the appropriate parser profile) would be nicer. On the one hand, pretty RDFFormat variants are not supported by StreamRDF afaik. On the other hand, the streaming versions do not require keeping the partition in memory again as a Model/Dataset which is easier on the memory.

[2021-02-27 18:21] Aklakan commented on #144
The record reader is now reworked to natively distinguish between individual items (information units) and accumulation of items into records.
For example, a single quad in nquads is an information item, and a set of consecutive quads in the same graph may be aggregated into a record.

The record reader now loads the set of items after the offset of the first valid record position in the successor

[2021-02-28 00:59] Aklakan commented on #144
The MissingBackPressure exception seems to be fixed with an update to [FlowableOperatorSequentialGroupBy](https://github.com/SmartDataAnalytics/aksw-commons/blob/af9bae3c518ea93607651c9d68bb1bd0d396dbc9/aksw-commons-rx/src/main/java/org/aksw/commons/rx/op/FlowableOperatorSequentialGroupBy.java#L281) such that upstream.request(1) is only called when the amount of pending items is 0. Otherwise, the

[2021-03-01 02:44] Aklakan opened #147 ".saveAsFile needs revision"
The `.saveAsFile` method in [net.sansa_stack.rdf.spark.io.RDFChunkWriter](https://github.com/SANSA-Stack/SANSA-Stack/blob/feature-rddopsclaus/sansa-rdf/sansa-rdf-spark/src/main/scala/net/sansa_stack/rdf/spark/io/package.scala#L355)
 actually just dumps the partitions into files in a directory; so it does not write a single file.

* Probably it should be renamed to e.g. `.saveToFolder`.
* The docum

[2021-03-02 04:33] Aklakan commented on #147
I improved the saveToFile method for datasets to use PipedInput/OutputStream when e.g. writing out trig.
This drastically reduced memory consumption and boosted performance.
Parsing and writing out ~77mio triples from a 1GB bz2 file which contains 21GB of uncompressed trig data (LSQ/DBpedia) into a single merged file on our server now runs in ~4 minutes:

[code]

[2021-03-03 01:13] Aklakan commented on #147
More considerations:

@LorenzBuehmann already implemented a [save method](https://github.com/SANSA-Stack/SANSA-Stack/blob/develop/sansa-rdf/sansa-rdf-spark/src/main/scala/net/sansa_stack/rdf/spark/io/package.scala#L298) using jena-elephas via the hadoop api.
This is IMO the cleanest approach. All other save methods should be consolidated to use an Hadoop FileOutputFormat as well.
The saveAsNtriple

[2021-03-03 13:47] Aklakan commented on #147
Benchmark results for reading in 2.800.928 triples (~40mb compressed, ~1gb uncompressed) in trig format and writing them out as trig again:
[code]
I am surprised that my approach is so much faster than the ones that integrate with hadoop; not sure where the performance difference comes from; All strategies yield the exact same number of triples.

[2021-03-04 21:54] Aklakan commented on #147
There is now a fluent API to configure and run saving of RDDs that contain RDF data.
It supports writing out data as separate files and subsequently merging them into a single one.
The implementation does not yet cleanly capture whether partitions should be written out as RDF files that can be parsed independently (i.e. all directives are repeated) - or as dependent files that only form valid RDF

[2021-03-04 21:58] Aklakan commented on #146
This specific issue is now fixed. Further considerations about the API are continued it #147

[2021-03-04 21:58] #146 closed, assigned to Aklakan

[2021-03-06 15:40] carstendraschner opened #149 "SqlParseException: net.sf.jsqlparser.JSQLParserException"
When I want to Run a SPARQL Query within SPARQL Frame I face the following Exception.
[code]
To reproduce it, you can use the LMDB Pipeline in SANSA ML Examples
In addition, a long output seems to result from a print statement which has been used for debugging
[code]
This here is the corresponding SPARQL query
[code]
special information, this exception behavior is not deterministic. in roughly 50%

[2021-03-06 18:47] Aklakan opened #150 "ml-spark tests: ClassNotFoundException: it.unibz.inf.ontop.com.google.common.collect.NaturalOrderinç [sic!]"
running mvn clean install on the develop branch raised the exception below.
It may be due to a typo in the source code (unlikely), a bug in the use of kryo or an incorrect use of encoding (maybe a missing StandardCharsets.UTF8 argument to input/output streams?)

[code]

[2021-03-06 18:53] Aklakan commented on #149
The issue is due to incorrect quoting of the generated SQL; indicated by Encountered unexpected token: "-" "-"
Setting log output to debug in sansa-test-resources/src/main/resources/log4.properties should reveal the incorrect query strings.

The commit above (together with changes to sparqlify) should fix the issue.

[2021-03-07 10:18] carstendraschner commented on #150
after you @Aklakan recent commit I face following issue:
Exception in thread "main" java.lang.RuntimeException: Error processing sqlOp SqlOpTable [tableName="rdd-1563471318_httpp3ap2fp2fdataclinkedmdbcorgp2fmoviep2fdubbing_performance_name_xmlschemap23string_lang", aliasName=null], reason: Column "o" does not exist.
	at org.aksw.sparqlify.core.cast.EffectiveViewGenerator.createMinimalSchema(Effect

[2021-03-07 10:53] carstendraschner commented on #149
[code]

[2021-03-07 13:07] carstendraschner commented on #149
with the most recent change of SPARQLIFY, it seems that exception went away

[2021-03-07 15:18] Aklakan commented on #149
Closing as issue seems to be solved.

[2021-03-07 15:18] #149 closed, assigned to Aklakan

[2021-03-08 18:06] Aklakan commented on #150
Both issues fixed with all the recent updates.

[2021-03-08 18:06] #150 closed, assigned to nobody

[2021-03-08 18:18] Aklakan commented on #144
With the improvement of the RecordReaderGenericBase class to support accumulation of records, the above considerations about syntactic ambiguities can be partly addressed with a revision of the regex-pattern matching of record starts; i.e. don't match record starts if they might be ambiguous. However, this only helps to distinguish ambiguities in small information units such as triples and quads.

[2021-03-09 02:00] Aklakan commented on #144
A simple solution is as follows:
Under the assumption of a streaming parser, we can just count the number of items before it reports an error.
Then we we just skip that many record candidates using the regex pattern before retrying with the parser.

This implies that the following assumption must hold: The regex pattern must match *at least* all record starts that the parser accepts. Otherwise, we

[2021-03-10 08:19] tangyong opened #151 "[Question] When to support SPARQL 1.1"
Dear Team,

I want to ask when to support SPARQL 1.1 for SANSA-Stack?

Thanks!

[2021-03-11 14:53] Aklakan commented on #151
Hi, @tangyong,

Sansa as a framework features multiple ways for querying:

* Querying via RDB2RDF (Ontop & Sparqlify): These engines operate on an input of RDD[Triple]. This should allow you to make use of all SPARQL1.1 features supported by Ontop.
@LorenzBuehmann has recently documented Ontop's supported features at the [query layer page](https://github.com/SANSA-Stack/SANSA-Stack/tree/develop/sa

[2021-03-12 01:30] tangyong commented on #151
Dear @Aklakan ,

Many thanks for detailed reply!

Q1: Ontop intergration will be added into Sansa 0.8?  or Sansa 0.7.1?

Q2:  When to release Sansa 0.8?

Thanks!

[2021-03-19 11:03] LorenzBuehmann commented on #151
@tangyong

Yes, that's integrated.

We published a release candidate `0.8.0-RC1` yesterday: https://maven.aksw.org/archiva/#artifact/net.sansa-stack/sansa-query-spark_2.12/0.8.0-RC1
Note, it's not on Maven Central because of RC1, but in our public Maven repo. How to use it is explianed [here](https://github.com/SANSA-Stack/SANSA-Stack/tree/v0.8.0-RC1#release-version)

So all you have to do is to u

[2021-03-21 03:49] tangyong commented on #151
Thanks hard working and Great news!
Our team will try RC1 release and feedback!

Thanks again!
Tang

[2021-03-22 14:04] Aklakan opened #153 "Set up a show case of LSQ with SANSA"
[Linked Sparql Queries](https://github.com/AKSW/LSQ) has some interesting concepts partly realized directly with Sansa and some with Sansa in mind. The goal is set up a show case that demonstrates topics such as:

* Parallel RDFization of logs, auto-detection of log formats
* Processing of large scale quad data (trig or nquads format)
* Analytics on the RDFdata (lorenz curves)

[2021-06-11 21:39] Aklakan commented on #147
The revision of the "save-as" API is conceptually pretty much complete. Whatever is missing or turns out to be bugged is probably better addressed in new specific issues.

[2021-06-11 21:39] #147 closed, assigned to Aklakan

[2021-06-17 12:34] mileswhen opened #162 "Error reading RDF file"
Hi,

Thanks for releasing a 0.8! I'm getting an error running the following code in a Zeppelin notebook, would be great to get some help!

[code]

Error message:
[code]

This is with the "sansa-examples-spark_2.11-0.8.0-RC1-backport-jar-with-dependencies.jar" + Spark 2.3.1, Hadoop 2.7, Zeppelin 0.9, and Scala 2.11.

[2021-06-18 12:36] mileswhen commented on #162
Tried the spark_2.12 JAR with Spark 3.x and didn't encounter this error

[2021-06-18 12:36] #162 closed, assigned to nobody

[2021-06-23 02:12] Invincibled opened #163 "Quality Assessment of RDF Datasets"
![image-20210622190827391](https://user-images.githubusercontent.com/736767/123023978-f29bf280-d40a-11eb-8636-51c1898e66f5.png)

Resource list:
Luzzu Framework: https://github.com/Luzzu/Framework
Luzzu Metrics: https://github.com/Luzzu/Metrics

Background: We are looking to calculate various semantic based metrics on different RDF datasets.  We have previously been using Luzzu, but are now looking

[2021-06-27 19:59] GezimSejdiu commented on #163
Hi @Invincibled ,

thanks a lot for reaching out and submitting this issue. It is great to see that you found SANSA Quality Assessment resource useful for such cases whenever the dataset becomes large to be computed via Luzzu.

Our approach (see its implementation of some of the metrics [here](https://github.com/SANSA-Stack/SANSA-Stack/tree/develop/sansa-rdf/sansa-rdf-spark/src/main/scala/net/sans

[2021-06-30 05:04] Invincibled commented on #163
Hi @GezimSejdiu

First of all, thanks for your reply.

Question 1: I have modified the program according to the configuration information you provided, however, the calculation result is still different. I checked the source code and found that the algorithm is essentially different, so I don't know which algorithm we should use, do you have any suggestions?

Question 2: Since Luzzu provides more

[2021-07-01 14:46] Invincibled commented on #163
If we want to extend new metrics, do you think we should modify the source code or use an interface to extend it?

Looking forward to your reply, thanks.

[2021-07-01 18:54] Aklakan commented on #163
Judging from e.g. [this luzzu metric](https://github.com/Luzzu/Metrics/blob/master/linked-data-quality-metrics/contextual/src/main/java/io/github/luzzu/linkeddata/qualitymetrics/contextual/provenance/ExtendedProvenanceMetric.java) what you want to do is basically create an aggregation function for quads.

As for interfaces, from my perspective all you need is a bunch of static utility functions th

[2021-07-20 11:52] mileswhen opened #164 "What reasoning tasks does SANSA support for ontological validation?"
Dear Team,

We are currently using standalone OWL reasoners such as [ELK](https://github.com/liveontologies/elk-reasoner/) and [Konclude](https://www.derivo.de/en/produkte/konclude.html) to validate OWL 2 EL ontologies as logically consistent.

The reasoning tasks we are interested in are:

1. Consistency checking
2. Subsumption / Classification
3. Realisation

Does SANSA's inference layer support

[2021-08-20 05:26] Invincibled opened #166 "Sansa on the use of ontop"
Hi, Team:

I have noticed that we are using Ontop in Sansa as the RDF transition to SQL mediation, because to use Ontop, we need obda mapping file, I would like to ask, what do you do with the piece, is it dynamically generated? What are they made of?

looking forward to your reply. thank you

[2021-08-22 20:44] Aklakan commented on #166
Hi,

The R2RML mapping is generated automatically in [this method](https://github.com/SANSA-Stack/SANSA-Stack/blob/develop/sansa-rdf/sansa-rdf-common/src/main/scala/net/sansa_stack/rdf/common/partition/r2rml/R2rmlUtils.scala#L132) which uses the partitioner output. [The code that sets up the spark tables](https://github.com/SANSA-Stack/SANSA-Stack/blob/develop/sansa-rdf/sansa-rdf-spark/src/main/sc

[2021-09-05 03:05] ishixiaoyi opened #167 "A problem of RDF data reading"
Dear team

I tried to run some code which based the sample code "DistRDF2ML_Clustering.scala" but found some NotSerializableExceptionerror  occurred as below.

org.apache.spark.SparkException: Task not serializable
  at org.apache.spark.util.ClosureCleaner$.ensureSerializable(ClosureCleaner.scala:416)
  at org.apache.spark.util.ClosureCleaner$.clean(ClosureCleaner.scala:406)
  at org.apache.spark.

[2021-09-05 20:38] Aklakan commented on #167
Hi, can you check whether you have the kryo registrators added as described in the [sansa-query-spark readme](https://github.com/SANSA-Stack/SANSA-Stack/tree/develop/sansa-query#from-file)

[code]

The offending non-serializable class actually has a [registration](https://github.com/SANSA-Stack/SANSA-Stack/blob/develop/sansa-query/sansa-query-spark/src/main/java/net/sansa_stack/query/spark/sparqli

[2021-09-07 09:44] svjack opened #168 "Join order setting in ParSet join pairs in datalake ?"
I see the construction pic of the datalake model of your project
![Uploading IMG_1218.jpeg…]()
As many sql optimize engine do
I find you set ParSet join order by a planner
And set sort score by filter op number in

https://github.com/SANSA-Stack/SANSA-Stack/blob/159f59caa165ef789bc3ec93e28762b786291dba/sansa-datalake/sansa-datalake-spark/src/main/scala/net/sansa_stack/datalake/spark/Planner.scala

[2021-09-09 13:12] ofilangi opened #169 "[ExceptionInInitializerError] Jackson Databind version >= 2.10.0 and < 2.11.0"
I'm trying to run the example [TripleReader](https://github.com/SANSA-Stack/Archived-SANSA-Examples/blob/master/sansa-examples-spark/src/main/scala/net/sansa_stack/examples/spark/rdf/TripleReader.scala) on a spark cluster

I get the following error `Scala module 2.10.4 requires Jackson Databind version >= 2.10.0 and < 2.11.0` despite the definition in my config build.sbt targetting the 2.10.5 vers

[2021-09-10 07:44] ofilangi commented on #169
sorry, this issue related to FasterXML : https://github.com/FasterXML/jackson-module-scala/issues/513

[2021-09-10 07:44] #169 closed, assigned to nobody

[2021-09-12 08:01] ishixiaoyi commented on #167
Hi @Aklakan
Thanks for your support and sorry for my late response.

Team master tried again in 2 different environments and found although your solution failed in spark shell but works well as the jar submit method.

So we suppose might we meet the issue of spark shell but not the serializer class.

Thanks for your support again and let me close this ticket.
Xiaoyi

[2021-09-12 08:01] #167 closed, assigned to nobody

[2021-10-05 12:28] Aklakan commented on #166
Closing this issue as it seems to be answered. Feel free to re-open if further questions arise.

[2021-10-05 12:28] #166 closed, assigned to nobody

[2021-10-06 12:33] Aklakan opened #171 "Implement a TARQL Operator"
This allows for mapping spark-based CSV data to RDF using SPARQL.

[2021-10-06 12:35] Aklakan commented on #171
There is now `JavaRddRxOps.tarqlTriples(rddOfBindings, query)` and `JavaRddRxOps.tarqlQuads(rddOfBindings, query)`.
Needs testing + documentation + scala versions / wrappers.

[2021-10-08 21:41] Aklakan commented on #130
Having given the topic some more thought, adding such statistics to the term maps is not ideal.
A single table can be mapped with any amount of term maps - hence, it is better to annotate tables with those statistics and only provide a 'helper function' that can derive term-map-specific stats on demand.
IIRC Spark dataframes already track such metadata so it might be reused.

[2021-10-27 09:17] Prajakta46 opened #172 "Reading-in RDF data"
Hello,

I'm attempting to read a "rdf.nt" file in the TripleReader.scala module. However, I am receiving below error.

Error: Missing option --input
Try --help for more information.

I mentioned the file's path where it was requested in the code. Could someone kindly point me in the right direction? Thank you very much.

[2021-10-29 13:53] huangmatthieu opened #173 "Create a jar including all dependencies in a submodule of sansa stack"
Hello all,
I would like to know if it is possible to create a jar including all the dependencies for example in the submodule sansa-example spark ?
Because i tried by adding these lines in the pom file in this submodule:

[code]

Then run this command in this submodule:
mvn clean package

But no jar with the suffix "jar-with-dependencies" is created in the target file
does anybody have an idea?

[2021-11-10 08:02] LorenzBuehmann commented on #172
Hi,

can you please show the full command you're running?

In general `Error: Missing option --input` indicates that you simply forgot to provide the argument `--input` as a Java argument - yes, it's hopefully as simple as it sounds.

[2021-11-10 08:07] LorenzBuehmann commented on #173
Hi,

you're basically talking about a so-called Uber-Jar - Maven Shade Plugin is the common way to go.

If you want to build such a Jar based on a given module and all its dependencies, you use two flags

[code]

and the profile `dist` to activate the Maven Shade Plugin

which in your case means you run (from parent directory)

[code]

[2021-11-24 13:47] LorenzBuehmann commented on #173
Answer provided.

[2021-11-24 13:47] #173 closed, assigned to LorenzBuehmann

[2022-02-02 17:26] mjgm97 opened #180 "Error when trying to build"
Hi!

I've been using Sansa-stack with java 15 (since it does not work with 16 and 17 versions), and it's working ok locally, but I'm trying to obtain the .jar with all the dependencies with "mvn clean package", and then I got an error in sansa-rdf-common_2.12. Specifically, I'm getting :

[code]

I don't know if it could be some error with library or java versions, any idea?

Thanks!

[2022-02-04 08:22] mjgm97 commented on #180
A little update: it stopped working also locally, this is the full exception trace:

[code]

[2022-03-03 23:14] Aklakan commented on #180
Hi, the issue was due to moved classes in one of the snapshot dependencies and should be fixed. I am leaving this issue open for reference until the stable release is complete because fixing broken tests in those deps may still cause temporary regressions in Sansa/develop branch :/

[2022-03-03 23:21] Aklakan commented on #163
What we actually need is some kind of execution graph model which metrics can be implemented against such that computation results (e.g. number of triples) could be shared among metrics. @LorenzBuehmann you once mentioned that something like this was started in the inference module. Would it be feasible to extend on that or would we need a different existing or custom solution?

[2022-03-05 10:53] Aklakan commented on #171
The CLI module now features the sansa tarql command

[code]

[2022-03-08 14:27] Rajjat opened #183 "Does SANSA-Stack support N-Quads format?"
Hello,

I am using SANSA-Stack for reading the N-Quads file (spark) :

    val lang = Lang.NQUADS
    val triples = spark.rdf(lang)(input)

But it throws the following exception
"Exception in thread "main" java.lang.IllegalArgumentException: N-Quads syntax not supported yet!"

Does it support the N-Quads format?

[2022-03-09 17:15] Aklakan commented on #183
It seems the old spark.rdf(lang)(input) system and the documentation requires an update.

In develop there is already a new `RddRdfSourceFactory` outlined at [here](http://sansa-stack.github.io/SANSA-Stack/rdf/loading-rdf.html#java). (I know its currently a bit empty there, docs should eventually be consolidated at that new site; if we just had some documentation writers...)

The spark.rdf system

[2022-03-10 09:12] Rajjat commented on #183
Thanks for the detailed overview. Is it available only for java? Does scala version supports N-Quads format?

[2022-03-15 09:57] Invincibled opened #184 "Build myself"
Hi,

TAG: v0.8.0-RC1

sansa-stack-spark_2.12-0.8.0-RC1-jar-with-dependencies.jar  I want to pack by myself

I execute `mvn clean package `

however, although the execution is successful, the individual package is not typed?

What do I need to do?

[2022-03-18 09:36] LorenzBuehmann commented on #183
Hi @Rajjat
Your code doesn't work for N-Quads because the method signature is fixed to return an RDD of triples. For quads we suggest the following snippet:
[code]

[2022-03-18 14:56] Aklakan commented on #184
Hi @Invincibled ,

You need to activate the `dist` profile to build the bundles.

In the jena-4.5.0 branch I already prepared a brand new [makefile](https://github.com/SANSA-Stack/SANSA-Stack/blob/jena-4.5.0/Makefile) to help working with the code base; it will go into the `develop` branch next week.

[code]

`make dist` runs
[code]

We are also nearing towards a maven central release again; just

[2022-03-24 21:16] Rajjat commented on #183
Thanks, @LorenzBuehmann .

[2022-04-22 08:21] Aklakan opened #188 "Issues with maven central release"
With [this release](https://mvnrepository.com/artifact/net.sansa-stack/sansa-rdf-spark_2.12/0.8.0-RC3) the problems are:
- [ ] Hadoop vulnerabilities
- [ ] License should be Apache 2

[2022-05-18 12:59] #183 closed, assigned to nobody

[2022-05-18 13:04] Aklakan commented on #172
Most likely this issue is either solved or irrelevant by now.

[2022-05-18 13:04] #172 closed, assigned to nobody

[2022-07-29 08:17] Aklakan opened #193 "Missing spark-based writers / readers for Bindings"
It seems that currently result sets cannot be written out in parallel; there should be an API / utility function for reading/writing as CSV/TSV - for these formats we can use our parallel CSV/TSV reader.
RSX (result set in XML) and RSJ (json) could also be added - mainly the writer of the first partition has to emit an header, and the writer of the last partition a footer.

[2022-10-26 10:30] Aklakan opened #199 "Trig output for triples is not compatible with turtle"
Using the CLI tooling to write out triples with trig format (default) wraps them with curly braces `{ triples }`. One would expect the output of triples using the default format to be compatible with turtle.

[2022-10-26 10:31] Aklakan opened #200 "sansa tarql: header row is emitted as data by default"

[2022-10-26 10:36] Aklakan opened #201 "sansa tarql: confusing message of prefixes reduced from n to n"
If optimizing prefixes is NOT specified then prefixes will not be reduced (d'uh) - however at the end there is a message that would suggest that reduction / optimization had no effect or went wrong. Remove that message.

[2022-11-09 10:52] Aklakan opened #202 "sansa tarql: null column headings result in NPE"

[2022-11-09 10:52] Aklakan opened #203 "sansa tarql: Replace white spaces in column name with unterscore"
This is what tarql does.

[2022-11-09 10:53] Aklakan opened #204 "sansa tarql: Headers from BZ2 CSV files are extracted from the compressed stream"

[2022-11-09 10:54] Aklakan opened #205 "sansa tarql: Header row is returned as data"

[2022-11-09 10:57] Aklakan opened #206 "sansa tarql: Line terminators from csvw dialect not compatible with Univocity"
CSVW allows for specifying an array of line separators such as `[\n, \r\n, \n\r]` but univocity only supports one option.
Essentially it means that specifyication of multiple options must result in an error.

[2022-11-09 10:58] Aklakan opened #207 "sansa tarql: Automatic line ending detection not working"
A CSV file with `\r\n` line endings causes the \r to become part of every row's last cell value.

[2022-11-09 13:53] Aklakan opened #208 "sansa tarql: By default reuse prefixes from the queries for output"

[2022-11-09 14:25] Aklakan commented on #205
Duplicate of #200

[2022-11-09 14:25] #205 closed, assigned to nobody

[2022-11-10 21:21] #203 closed, assigned to nobody

[2022-11-10 21:22] Aklakan commented on #207
Now implemented for CSV but not sure about how univocity's TSV parser handles it.

[2022-11-10 21:23] Aklakan commented on #199
Also, output format should be inferred from the output filename if given.

[2022-11-10 22:32] Aklakan commented on #202
Columns can now have multiple names (including none) by means of an array `Var[]`.
This allows for exposing a cell value under different var names in a binding, such as using
excel naming scheme (e.g. 'ab'), numbers and values of the first row.

[2022-11-10 22:32] #202 closed, assigned to nobody

[2022-11-10 22:38] Aklakan commented on #204
Added a `FileSystemUtils.newInputStream` function to open a stream to an hadoop path with codec applied according to configuration.

Note that there is a similar util in `org.apache.hadoop.fs.shell.Text.getInputStream(PathData)`.

[2022-11-10 22:38] #204 closed, assigned to nobody

[2022-11-10 22:42] Aklakan commented on #171
The tarql code is overall working. Remaining work is better tracked with specific issues.
Kudos to @LorenzBuehmann for testing.

[2022-11-10 22:42] #171 closed, assigned to nobody

[2022-11-11 09:15] Aklakan opened #209 "Add support for an *input* format variants registry"
* For CSV variants we support the [CSVW](https://www.w3.org/TR/tabular-data-model/) model
* For optimal RDF/Trig processing we need to know e.g. whether all quads are represented as triples wrapped in a curly braces block - i.e. is it sufficient to only search for the pattern `graph <g> { <s> <p> <o> }` (regions always start near a curly brace) or do we need to consider `<s> <p> <o> <g> .` too.

W

[2022-11-11 10:32] Aklakan commented on #199
Solved with 291460305eecabc6e0fb7408e2f1722a404536f0

[2022-11-11 10:32] #199 closed, assigned to nobody

[2022-11-11 10:54] #208 closed, assigned to nobody

[2022-11-11 14:06] #200 closed, assigned to nobody

[2022-11-11 14:20] Aklakan commented on #207
Univocity doesn't seem to have this functionality for TSV. Closing; should there be an issue then just open a new issue specifically for TSV.

[2022-11-11 14:20] #207 closed, assigned to nobody

[2022-11-11 14:49] Aklakan opened #210 "sansa output: reject existing output folder because of eventual forceful deletion"
Using `sansa whatever --out-folder /existing/folder` deletes that folder when done - this is critical if the folder already exists.

[2022-11-11 14:53] Aklakan opened #211 "sansa tarql: cli complains about empty union of input data if input data is only referenced via FROM clause"
Invoking `sansa tarql mapping.rq` complains about a missing input csv even if

`mapping.rq` internally uses `CONSTRUCT { ... } FROM <resource.csv> WHERE { ... }`

[2022-11-13 20:07] Aklakan commented on #211
If no CSV is provided as a CLI argument then it is now inferred from the first query's FROM clause in the mapping file.
Need yet to check how tarql handles multiple queries with different sources.

[2022-11-13 20:28] Aklakan commented on #211
Hm, it seems that the queries are simply executed in order - and only the first FROM clause is considered.
I was not able to refer from a second query to the triples generated from the first query.
Also, using two mappings with FROM <file1.csv> and FROM <file2.csv> caused both mappings to be executed however both with data only from file1.csv.

It seems that the statement from the [tarql doc](http

[2022-11-15 10:01] Aklakan commented on #211
Source is derived from the first from clause which seems to also be what tarql does. In any case, there is no longer an exception about an empty union.

[2022-11-15 10:01] #211 closed, assigned to nobody

[2022-11-15 10:04] Aklakan commented on #210
There is now a safe delete routine which attempts to only delete a given output folder if all contained top-level files match hadoop patterns.

A file is subject to deletion if its name (optionally stripped of a leading `.`) ...
* starts with the base name is derived from the hadoop context (defaults to `part`).
* equals `_SUCCESS`
* equals `_temporary`

[2022-11-15 10:04] #210 closed, assigned to nobody

[2022-11-15 10:06] Aklakan commented on #206
The [CSVW Dialect interface](https://github.com/SmartDataAnalytics/aksw-commons/blob/develop/aksw-commons-models-parent/aksw-commons-models-csvw-parent/aksw-commons-models-csvw-domain/src/main/java/org/aksw/commons/model/csvw/domain/api/DialectMutable.java#L25) now has a default method to convert a Java `List<String>` into the appropriate JSON array string

[2022-11-15 10:06] #206 closed, assigned to nobody

[2022-11-15 10:08] Aklakan commented on #201
The message now reads:

 `RDF writer was configured with 5 prefixes. 5 prefixes remained after processing. 0 unique prefixes were derived from the sources.`

Not perfect but much better and good enough for now.

[2022-11-15 10:08] #201 closed, assigned to nobody